*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px; 
}

body {
    background: rgb(249, 247, 247);
}

nav {
    background: rgba(0, 0, 0, 0.892);
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

nav img {
    height: 4rem;
    padding-left: 20px;
    display: flex;
    align-self: flex-start;
}

nav ul { 
    display: flex;
    align-items:center;
    margin-right: 30px;
}

nav ul>li>a {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    list-style:none;
}

nav ul>li>a>img {
    width: 20px;
    height: auto;
}

.active {
    color:orange;
}

.a-button {
    background-color: #4CAF50;
    color:#fff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1 {
    font-size: 64px;
    margin: 30px 15px;
}

hr {
    border-top: 5px solid rgb(255, 196, 0);
    width: 600px;
    margin-bottom: 30px;
    margin-left: 15px;
}

section {
    width: 60%;
    display: inline-block;
    margin-left: 15px;
    font-size: 1.2rem;
}

section article {
    margin-bottom: 60px;
}

section p {
    line-height : 35px;
}

section ol {  
    margin: 40px 0px 30px 40px;
}

.p-color {
    color: rgb(255, 196, 0);
}

.flex-style {
    display: flex;
}

.vertical-line {
    border:none;
    border-left: 5px solid rgb(255, 196, 0);
    height: 210px;
    width: 1px;
    margin:0px 40px 0px 40px
}

aside {
    width: 30%;
    float: right;
    margin-right: 15px;
}

aside h3 {
    color: gray;
}

aside form {
    background: rgb(47, 63, 103);
    margin-top: 20px;
    padding: 20px 20px 70px 20px;   
}

aside form>label{
    color:  #fff;
}

aside form>input {
    width: 80%;
    padding: 5px 20px;
    margin: 8px 30px 20px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

aside form>select {
    width: 80%;
    padding: 5px 20px;
    margin: 8px 30px 20px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

aside p {
    color: #fff;
    margin: 35px 30px 35px 0px;
}

aside button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}